@()(implicit request: RequestHeader, flash: Flash)

@main("Create a TigerFit Account") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@@700&family=Neucha&display=swap" rel="stylesheet"> 
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="loginRoute" value="@routes.Application.login">
  <input type="hidden" id="landingRoute" value="@routes.Application.landing">
  <input type="hidden" id="validateRoute" value="@routes.UserController.validate">
  <input type="hidden" id="creationPageRoute" value="@routes.Application.accountCreation">
  <input type="hidden" id="creationActionRoute" value="@routes.UserController.create">
  
  <input type="hidden" id="retrieveSettingsRoute" value="@routes.UserController.obtainSettings">
  <input type="hidden" id="initializeSettingsRoute" value="@routes.UserController.setAllSettings">
  <input type="hidden" id="updatePasswordRoute" value="@routes.UserController.changePassword">
  <input type="hidden" id="updateWeightRoute" value="@routes.UserController.changeWeight">
  <input type="hidden" id="updateHeightRoute" value="@routes.UserController.changeHeight">
  <input type="hidden" id="updateGoalRoute" value="@routes.UserController.changeGoal">
  <input type="hidden" id="updateDaysRoute" value="@routes.UserController.changeDays">

  <input type="hidden" id="retrieveExerciseRoute" value="@routes.ExerciseController.obtainExercise">
  <input type="hidden" id="searchExercisesRoute" value="@routes.ExerciseController.searchExercises">

  <div id="account_creation_page"></div>
  <script src="@routes.Assets.versioned("javascript/accountCreationPage.js")"></script>
}