@(message: String)

@main("Tiger Fit") {

  <head>
      <title>Tiger Fit</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/landing.css")">
  </head>
  <body>
  
  <div class="container">
      <div class="header">
          <h1>TIGER FIT</h1>
      </div>
  
      <div class="section team">
          <h2>Our Team</h2>
          <ul class="team-list">
              <li>Olivia Bangs</li>
              <li>Samuel Cohen</li>
              <li>Seth Owirodu</li>
              <li>Samuel Pappas</li>
          </ul>
      </div>
  
      <div class="section purpose">
          <h2>Our Purpose</h2>
          <p>Our application makes visiting a gym and lifting weights significantly less intimidating by assembling a programmatic structure for each workout and having exercise descriptions and links to videos about that exercise attached for easy reference.</p>
      </div>
  </div>
}
