@()(implicit request: RequestHeader, flash: Flash)

@main("Login to TigerFit") {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@@700&family=Neucha&display=swap" rel="stylesheet"> 
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="loginRoute" value="@routes.Application.login">
  <input type="hidden" id="landingRoute" value="@routes.Application.landing">
  <input type="hidden" id="validateRoute" value="@routes.userController.validate">
  
  <div id="login_page"></div>
  <script src="@routes.Assets.versioned("javascript/reactLogin.js")"></script>
}