@()(implicit request: RequestHeader, flash: Flash)

@main("Login in to TigerFit") {

<h2>Login to TigerFit</h2>
<style>
    form {
      width: 300px; /* Adjust the width of your form */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #fff;
      justify-content: center;
      align-content: center;
    }
  </style>

<form method="post" action="@routes.Application.login">
    @helper.CSRF.formField
    username: <input type="text" name="username" id="username-login">
    <br>
    <br>
    password: <input type="password" name="password" id="password-login">
    <br>
    <br>
    <input type="submit">
</form>

}