body { font-family: Arial, sans-serif; }
.header { text-align: center; margin-bottom: 40px; }
.equal-height {
    display: flex;
}
.equal-height > [class^="col-"] {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.section { 
    background: #D1D2D2; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    flex: 1; /* Makes the sections flex containers */
    display: flex;
    flex-direction: column;
}
.team-list li::before { 
    content: '● '; 
    color: #000; 
    margin-right: 5px;
}
.team-list, .purpose p { 
    margin: 0; 
    padding: 20; 
}
.team-list li { 
    list-style: none; 
    padding-left: 0; 
}