/* Element styling */

body {
    background-color: #293132;
}

/* Main container styling */

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Random Hobby Button Styling */
.hobby-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.random-hobby-button {
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 100px;
    background-color: #50d8d7;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.random-hobby-button:hover {
    background-color: #547aa5;
}

/* Base Font Style */
.basic-font, .navbar, .login-form, .submission-button, .navbar-header, .login-header, form {
    font-family: 'Lato', sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: #547aa5;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar-header {
    font-size: 20px;
}

.login-navbar {
    height: 50px;
}

.login-header {
    align-items: center;
}

/* Login Form Styles */
.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Submission Button Styles */
.submission-button {
    margin: 12px;
    border: none;
    font-size: 15px;
    background-color: #9ae8f6;
    transition: 0.2s all;
    right: 0px;
    border-radius: 20px;
    width: 100px;
    height: 35px;
}

/*.submission-button:hover {
    background-color: #86ebfd;
}*/

.form-container {
    max-width: 300px; 
    margin: auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 

}

/* Since the form itself is also a flex container, 
   make sure its children are aligned properly */
form {
    width: 300px; /* Set a fixed width for the form */

}


/* Flexbox Adjustments */
.equal-height {
    display: flex;
}

.equal-height > [class^="col-"] {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Section Styles */
.section {
    background: #D1D2D2; 
    padding: 20px; 
    border-radius: 8px; 
    margin-bottom: 20px;
    margin-top: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* List Styles */
.team-list li::before { 
    content: '● '; 
    color: #000; 
    margin-right: 5px;
}

.team-list, .purpose p { 
    margin: 0; 
    padding: 20; 
}

.team-list li { 
    list-style: none; 
    padding-left: 0; 
}

/* Hamburger Menu Styles */
.hamburger-navbar {
    position: relative; /* Ensure the navbar has a relative position */
}

.burger {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
    transition: all 0.3s linear;
    transform-origin: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.burger.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open:nth-child(2) {
    opacity: 0;
}

.burger.open:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
    position: absolute;
    top: 100%; /* Align the top of the menu with the bottom of the navbar */
    left: 0; /* Align the menu to the left edge of the navbar */
    width: max-content; /* Set the width of the menu to match the widest item */
    background-color: #fff; /* Set the background color to white */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a shadow for depth (optional) */
    z-index: 1000; /* Ensures the menu is above other content */
}

.menu a {
    color: black; /* Set text color for the menu items */
    padding: 10px 15px; /* Add padding for each link for spacing */
    text-decoration: none; /* Removes the underline from links */
    display: block; /* Make each link block level */
    white-space: nowrap; /* Prevents the text from wrapping */
}

/* Account Settings CSS */


.account-settings {
    text-align: center;
}

.toggle-switch {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
.option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.option.selected {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}
  
/* Dropdown CSS */
.dropdown-title {
    text-align: center;
}
.dropdown-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
.dropdown-container label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
.dropdown-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  


/* Account Settings CSS */


.account-settings {
    text-align: center;
}

.toggle-switch {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
.option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.option.selected {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}
  
/* Dropdown CSS */
.dropdown-title {
    text-align: center;
}
.dropdown-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
.dropdown-container label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
.dropdown-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  


/* i dont like the dot by the list items - sam */

ul {
    list-style: none;
}

.completed-container label {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
/* Define the color change on hover */
.All-exercises li:hover {
    color: #0097b2; /* Change this to the desired color */
    cursor: pointer; /* Change the cursor style if needed */
}
  
/* Define the color change on button hover */
button:hover {
    background-color: #0097b2; /* Change this to the desired background color */
    color: white; /* Change this to the desired text color */
    cursor: pointer; /* Change the cursor style if needed */
}

.large-button {
    margin: 30px;
    border: none;
    font-size: 15px;
    background-color: #9ae8f6;
    transition: 0.2s all;
    right: 0px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
}



/* Personal Form Change Password */

.input-container {
    margin-bottom: 15px; /* Add some space between the input elements */
}

.personal-form-container {
    max-width: 300px; 
    margin: auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.Workout-Title {
    text-align: center;
}

.error-message {
    color: red;
    margin-left: 10px;
  }

  .success-message {
    color: green;
    margin-left: 10px;
  }