.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.submission-button {
    margin: 12px;
    border: none;
    font-size: 15px;
    background-color: #9ae8f6;
    transition: 0.2s all;
    right: 0px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    width: 100px;
    height: 25px;
}

.submission-button:hover {
    background-color: #86ebfd;
}

.navbar {
    background-color: #0097b2;
    color: #fff;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
}

.login-header {
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

form {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}