.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.submission-button {
    margin: 12px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    right: 0px;
    border-radius: 20px;
}

.submission-button:hover {
    background-color: #388ae2;
}

.navbar {
    background-color: #0097b2;
    color: #fff;
    padding: 35px;
    width: 100%;
    top: 0;
    left: 0;
}

.login-header {
    align-items: center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

form {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}